html, body {
    margin: 0;
    padding: 0;
}

path {
    fill: lightgrey;
    stroke: white;
    stroke-width: 0.05rem;
}

path:hover {
    fill: gray;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  opacity: 0.3;
  cursor: not-allowed;
}

.top {grid-area: a;}
.map { grid-area: b; }
.layer1 { grid-area: c; }
.layer2 { grid-area: d; }
.layer3 { grid-area: e; }

.div-quiz {
  display: grid;
  grid-gap: 5px;
  padding: 5px;
  grid-template-areas:
    'a a a'
    'b c c'
    'b d d'
    'b e e';
}

.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.w3-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.w3-center{text-align:center}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-container:after,.w3-container:before{content:"";display:table;clear:both}

.top{
    background-color: #f1f1f1;
    text-align: center;
}

.top, .map, .layer1, .layer2, .layer3{
    border-style: none
}

/*#tooltip {
  background: cornsilk;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}*/

#bt_start{
  background-color: ##4CAF50;
}

#bt_stop {
  background-color: #f44336;
}

#bt_skip {
  background-color: #008CBA;
}

#p_label {
  font-size: 32px;
}
#p_name {
  font-size: 32px;
}

#result {
  font-size: 24px;
}


.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover:enabled{
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}